

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/*ol, ul {
	list-style: none;
}*/
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CSS RESET*/

body{
	font-family: 'Open Sans', sans-serif;
	color: #505050;
	position:relative;
}

h1{
	font-family: 'Parisienne', cursive;
	color: #505050;
	font-size: 120px;
}

h2{
	font-family: 'Open Sans', sans-serif;
	color: #505050;
	font-size: 60px;
}

h3{
	font-family: 'Open Sans', sans-serif;
	color: #505050;
	font-size: 48px;
}

h4{
	margin: 20px auto;
}

p{
	font-family: 'Open Sans', sans-serif;
	color: #505050;
	font-size: 16px;
}


.intro-text{
	margin-top: 50px;
	margin-bottom: 50px;
}

.green{
	color:#339966;
}

.bck-green{
	background-color: #339966;
}

.max-w-300{
	max-width: 300px;
}

.navbar{
	height: 70px;
	width: 100%;
	background-color: #ffffe6;
	color: #505050;
	font-family: 'Open Sans', sans-serif;
	border:none;
	text-transform: uppercase;
	position: fixed;
	z-index:5;
}

.navbar-right{
	font-size: 24px;
	padding-top: 10px;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 5px;
	background-color: #ffffe6;
}

.logo{
	max-width: 55px;
}

@media screen and (max-width: 900px){
	.logo{
		max-width: 50px;
	}
}

.navbar-brand{
	padding-top: 5px;
}

.landing{
	max-height: 700px;
	text-align: center;
	background-image: url("../images/landing.png");
	background-size: cover;
	position: relative;
}


.whole-page{
	padding: 0px;
	margin: 0px;
}

.section{
	padding-top: 40px;
}
.landing h1{
	padding-top:250px;
	padding-bottom: 20px;

}
.landing h2{
	font-size: 32px;
	font-family: 'Parisienne', cursive;
	padding-bottom: 200px;

}

.landing span{
	vertical-align: super;
}

.landing img{
	display: none;
}

@media screen and (max-width: 786px){
	.landing{
		max-height: 300px;
		background-image: none;
	}
	.navbar{
		max-height: 50px;
	}
	.landing h1{
		padding: 5%;
		color: #339966;
		font-size: 72px;
		margin-top: 90px;
	}
	.landing h2{
	font-size: 24px;
	font-family: 'Parisienne', cursive;
	}

	.landing img{
		display: block;
		position: absolute;
		top: -50px;
		left: -30px;
		max-width: 100px;
		opacity: .7;
	}
}

.us h2{
	text-align: center;
	word-spacing: 50px;
	text-transform:uppercase;
	font-size:24px;
	letter-spacing: 5px;
	width: 100%;
	height: 70px;
	line-height: 70px;
	background-color: #ffd9cc;
	margin-bottom: 30px;
}

.us h3{
	text-align: center;
	text-transform:uppercase;
	font-size:24px;
	letter-spacing: 5px;
	width: 100%;
	height: 70px;
	background-color:#fff;
	margin-top: 70px;
	margin-bottom: 0px;
}

.picture-group{
	margin: 2% auto;
	height: 700px;
	overflow: scroll;
	position:relative;
	max-width: 1000px;

}

@media screen only and (max-width: 600px){
	.picture-group{
		margin: 2% auto;
		max-width: 500px;
		overflow: visible;
	}
}

/*.row{
	margin: 0px;
}*/

.col-sm-4{
	padding: 5px 0px;
	border-color: #ffffff;
} 

 .col-sm-4 p{
	color: #505050;
	background-color: #ffffe6;
	position:absolute;
	display:inline;
	width:100%;
	text-align:center;
	float:left;
	z-index:3;
} 

.wedding{
	width:100%;
	position: relative;
}

.wedding h2{
	text-align: center;
	word-spacing: 50px;
	text-transform:uppercase;
	font-size:24px;
	letter-spacing: 5px;
	width: 100%;
	height: 70px;
	line-height: 70px;
	background-color: #ffd9cc;
	margin-top: 30px;
	margin-bottom: 30px;
	z-index:10;
}


.super{
	vertical-align: super;
	font-size: 12px;
}

.cursive{
	font-family: 'Parisienne', cursive;
	font-size: 28px;
	/*margin:5px 0px;*/
	color:#339966;
}

.spacing{
	line-height: 30px;
}

.middle{
	margin:0 auto;
	max-width: 600px;
	
}

.wedding h3{
	text-align: center;
	text-transform:uppercase;
	font-size:24px;
	letter-spacing: 5px;
	width: 100%;
	height: 70px;
	background-color:#fff;
	margin-top: 70px;
	margin-bottom: 0px;
}


#rsvpform{
	border-radius: 10px;
}

.rsvp-form{
	background-color: #ffffe6;
	margin: 10px auto;
	padding: 10px;

}

.medellin h2{
	text-align: center;
	word-spacing: 50px;
	text-transform:uppercase;
	font-size:24px;
	letter-spacing: 5px;
	width: 100%;
	height: 70px;
	line-height: 70px;
	background-color: #ffd9cc;
	margin-top: 30px;
	margin-bottom: 0px;
} 

.medellin-photo{
	max-height: 500px;
	min-height:400px;
	background-image: url(../images/medellin-panorama.png);
	background-size: cover;
	opacity:70%;
}

.medellin-photo p{
	/*height:inherit;*/
	color:#505050;
	text-align: center;
	font-family: 'Parisienne', cursive;
	font-size: 72px;
	padding-top: 50px;
}


.medellin h3{
	text-align: center;
	text-transform:uppercase;
	font-size:24px;
	letter-spacing: 5px;
	width: 100%;
	height: 70px;
	background-color:#fff;
	margin-top: 70px;
	margin-bottom: 0px;
}


@media screen and (min-width: 900px){
	.pin-board-desktop{
		margin: 20px auto;
		max-width: 800px;
	}
	.pin-board-mobile{
		display:none;
	}
	.screen-size{
		height: 750px;
	}
}

@media screen and (max-width: 900px){
	.pin-board-mobile{
		margin: 5px auto;
		max-width: 400px;
	}
	.pin-board-desktop{
		display:none;
	}
}


footer{
	margin-top: 30px;
	/*height: 60px;*/
	width: 100%;
	background-color: #ffffe6;
	color: #505050;
	font-family: 'Open Sans', sans-serif;
}

footer p{
	text-align: center;
	text-transform: uppercase;
}

.btn{
	min-width: 100px;
}

.desc{
	line-height: 20px;
}

.group:after {
	content:"";
	display: table;
	clear:both;
}



